body {
	/*position: absolute;*/
	background-color: #8ed2c9;
	font-size: 14px;
	font-family: Helvetica;
}
#quote{
	position: relative;
	font-family: "Times New Roman";
	color: white;
	top: 150px;
	font-size: 20px;


	text-align: center;
}
#players{
	font-family: "Times New Roman";
	font-size: 16px;
	color: white;
	display: none;
	top: 10px;

}
#X {
	position: absolute;
	left: 490px;
}
#O {
	position: absolute;

}
.button{
	position: relative;
	left: 240px;
}
#board {
	position: absolute;
	top: 30px;
	display: none;
	text-align: center;
	margin-right: auto;
	width: 550px;
}
#board td {
	/*background: url("http://texturelib.com/Textures/metal/bare/metal_bare_0039_01_preview.jpg");
	*/
	background-color: #fcf4d9;
	height: 150px;
	width: 100px;
	text-align: center;
	font-size: 80px;
	border: 2px solid #000000;
	-webkit-border-radius: 5px;
}

#bigX{
	display: none;
	position: absolute;
	top: 500px;
	font-size: 80px;
	left: 440px;
}
#bigO{
	display: none;
	position: absolute;
	top: 500px;
	font-size: 80px;
	left: 70px;
}

.footer{
	position: fixed;
	/*padding-left: 30px;*/
	left: 0px;
	padding-top: 15px;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background: #202020;
}

.footer h2{
  position: fixed;
  padding-left: 30px;
  padding-top: 15px;
  bottom: -10px;
  width: 100%;
  height: 30px;
  color: white;
  font-size: 14px;
}






