@import '../../globals/styles.scss';

.modal-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0,0,0,.6);
    z-index: 100;

    .modal-content{
        background: #0B1B34;
        border-radius: 20px;
        border: 10px solid $primary-white;


        .close-svg{
            cursor: pointer;
        }
    }
}