
body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:0px;
    padding:0px;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #F5F5F5;
}

html {
    width: 100%;
    height: 100%; 
}


.navigation {
    width: 100%;
    height: 60px;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(89, 173, 235, 1); 
}
.navigation-header {
    padding-top: 15px;
    padding-left: 100px;
    font-weight: 500; 
}
.nav-item {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

.inactive {
    opacity: .80; 
} 

.content{
    height:100%;
}


.composebox{
    float: left;
    width: 300px;
    height: 20%;
    margin-left: 115px;
    margin-top:15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background-color: white;
}
textarea{
    width: 99%;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    resize: none;
    outline: none;
    background-color: #EFEFEF;

}
.activity-feed {
    float: right;
    width: 600px;
    height: 70%;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background-color: white;
}
.activity-feed .feed-item {
    padding-top:10px;
    padding-bottom: 20px;
    padding-left:20px;
    border-bottom: 1px solid #EFEFEF;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: black;

}
.activity-feed .feed-item .date {
    display: inline-block;
    opacity:.4;
}
.activity-feed .feed-item .name {
    display: inline-block;
    padding-right: 10px;
    font-weight: bold;
}
